langchain
wikipedia
langchain-openai
langchain-community
langchain-anthropic
python-dotenv
pydantic
duckduckgo-search
google-search-results
langchain-google
langchain-google-community
requests
openai
pycoingecko
python-binance
snscrape
beautifulsoup4
aiohttp
loguru
pytest
snscrape